.navbar-sidebar--show .navbar-sidebar {
  box-shadow: 0 5px 40px rgba($primary-black, 0.5);
}

.navbar-sidebar {
  background-color: #ffffff;
  box-shadow: none;

  &__backdrop {
    background-color: rgba($primary-blue, 0.5);
  }

  &__brand {
    box-shadow: none;
  }

  &__items {
    margin-top: 15px;
    padding: 0;
  }

  .menu {
    &__list-item {
      margin: 0;

      &:not(:first-child) {
        margin-top: 10px;
      }
    }

    &__link {
      padding: 5px 15px;
      border-radius: 0;
      background-color: transparent;
      font-size: 17px;
      color: $white;
    }
    .menu__link {
      color: #000;
    }
  }
}

.navbar {
  padding: 0px 15px;
  height: auto;
  border-radius: 0 0 10px 10px;
  background-color: white;
  box-shadow: none;

  &__toggle {
    margin-right: 18px;
  }

  &__brand,
  &__logo {
    width: 168px !important;
    height: auto !important;
  }

  &__link {
    padding: 7px 21px 8px;
    line-height: 1;
    font-size: 17px;
    color: #474c5f !important;

    &:hover {
      text-decoration: underline;
    }
  }

  .DocSearch-Button-Container {
    @include mobile {
      justify-content: center;
      width: 100%;
    }
  }

  .DocSearch-Button {
    margin-left: 19px;
    padding: 0 13px;
    width: 202px;
    height: 32px;
    box-shadow: none !important;
    border-radius: 21px;
    background-color: $zircon;

    @include mobile {
      padding: 0;
      width: 32px;
    }

    .DocSearch-Search-Icon {
      width: 16px;
      height: 16px;
    }

    .DocSearch-Button-Placeholder {
      margin-left: 8px;
      padding: 0;
      line-height: 1;
      font-family: $lato;
      font-size: 14px;
      color: $primary-blue;
    }

    .DocSearch-Button-Key {
      &:last-child {
        margin-right: 0;
      }
    }
  }

  .navbar__link--active {
    color: var(--ifm-color-primary) !important;
    text-decoration: none;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    position: relative;
    &::after {
      content: " ";
      border-radius: 4px;
      height: 2px;
      background: var(--ifm-color-primary);
      position: absolute;
      bottom: 15px;
      left: 22px;
      width: 25%;
    }
  }

  .navbar__brand {
    width: var(--doc-sidebar-width) !important;
    margin-left: -15px;
    margin-right: 0px;
    background: #f4f4f4;
    padding: 14px 0px;
    // padding: 23px 21px !important;
    img {
      margin-left: 15px;
    }
  }

  .navbar__link {
    padding: 23px 21px !important;
  }
}
